@model IndexViewModel
@{
    //ViewData["Title"] = "Mina sidor";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <div>
            @if (Model.ImgSrc != null)
            {
                <img class="ProfilePic" src="@Model.ImgSrc" />
            }
        </div>
        <form method="post" enctype="multipart/form-data" asp-controller="Manage" asp-action="UploadPicture">
            <div class="form-group">
                    <p>Lägg till/byt profilbild:</p>
                    <input type="file" name="files" multiple />
            </div>
            <div class="form-group">
                    <input type="submit" value="Upload" />
            </div>
        </form>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username">Användarnamn</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Skicka bekräftelsemail</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Spara</button>
        </form>

    </div>
</div>
<br />

<div>
    <ul class="list-group minaSidorInfoLista">
        <li class="list-group-item list-group-item-success"><p>Mottagna röster på inlägg:</p> ↑ @Html.DisplayFor(model => model.PostUpVotes) ↓ @Html.DisplayFor(model => model.PostDownVotes)</li>
        <li class="list-group-item list-group-item-success"><p>Mottagna röster på kommentarer:</p> ↑ @Html.DisplayFor(model => model.CommentUpVotes) ↓ @Html.DisplayFor(model => model.CommentDownVotes)</li>
        <li class="list-group-item list-group-item-success"><p>Antal inlägg skapade:</p> @Html.DisplayFor(model => model.NumberOfPosts)</li>
        <li class="list-group-item list-group-item-success"><p>Antal kommentarer skrivna:</p> @Html.DisplayFor(model => model.NumberOfComments) </></li>
        <li class="list-group-item list-group-item-success"><p>Senast inloggad:</p> @Html.DisplayFor(model => model.LastLogin)</li>
        <li class="list-group-item list-group-item-success"><p>Kontot skapats:</p> @Html.DisplayFor(model => model.AccountCreated)</li>
    </ul>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


