@model IEnumerable<HackslashForum.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div style="position:absolute; right: 0px;">
    <div class="top-post-header">
        <h5>Most Upvoted Post</h5>
    </div>
    <div class="top-post">
        <a href="/Posts/Post/@ViewBag.MostUpvotedPost.Id/">@ViewBag.MostUpvotedPost.Title</a>
    </div>

    <div class="top-post-header">
        <h5>Most Commented Post</h5>
    </div>
    <div class="top-post">
        <a href="/Posts/Post/@ViewBag.MostCommentedPost.Id/">@ViewBag.MostCommentedPost.Title</a>
    </div>
</div>


<div id="posts">

	<h2>Inlägg</h2>

	@{
		int counter = 0;
	}


	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a asp-action="Index" asp-route-sortOrder="@ViewData["SortByDatePosted"]">Datum</a>
		</li>
		<li class="nav-item">
			<a asp-action="Index" asp-route-sortOrder="@ViewData["SortByTitle"]">Titel</a>
		</li>
		<li class="nav-item">
			<a asp-action="Index" asp-route-sortOrder="@ViewData["SortByUpvotes"]">Antal uppröstningar</a>
		</li>
		<li class="nav-item">
			<a asp-action="Index" asp-route-sortOrder="@ViewData["SortByComments"]">Antal kommentarer</a>
		</li>
	</ul>


	@foreach (var item in Model)
	{
		counter++;
		<div class="post">
			<a href="https://localhost:44369/Posts/Post/@counter">@Html.DisplayFor(modelitem => item.Title)</a>
			<p>↓: @Html.DisplayFor(modelItem => item.DownVotes)</p>
			<p>↑: @Html.DisplayFor(modelItem => item.UpVotes)</p>
		</div>
		<br />
	}

</div>

