@model HackslashForum.Post


@{
    ViewData["Title"] = "Info om inlägg";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
</head>
<body>
@*<<<<<<< HEAD
    <div class="wrapper">
        <div class="post-wrapper">
            <div class="post-header">
                <h3 style="margin-left: 10px;">@Model.Title</h3>
                <span style="float: right; clear: both;">
                    <img src="~/images/Upvote.png" width="20" height="20" />
                </span>

                <p style="float: right; clear: both;">@ViewBag.TotalScore</p>

                <span style="float: right; clear: both;">
                    <img src="~/images/Downvote.png" width="20" height="20" />
                </span>
            </div>
            <div class="post-content">
                <div>
                    @if(ViewBag.ProfilePicture != null)
                    {
                    <img class="ProfilePic" src="@ViewBag.ProfilePicture" />
                    }
                </div>
                <p>Användare: @ViewBag.PostAuthor</p>
                <p>Kategori: @Model.Category</p>
                <p>@Model.Content</p>
            </div>
            <div class="comment-form">
                @await Html.PartialAsync("_LoginComment")
            </div>
        </div>
        <div class="comment-wrapper">
            <div class="comments-header">
                <h3 style="margin-left: 10px;">Kommentarer</h3>
            </div>
            <div class="comments-content">
                @foreach (var comment in ViewBag.Comments)
                {
                    <div>
                        @if (ViewBag.ProfilePicture != null)
                        {
                            <img class="ProfilePic" src="@ViewBag.ProfilePicture" />
                        }
                    </div>
                    <p style="color:green;">@ViewBag.CommentAuthor:</p>
                    <p>@comment.Content</p>
                    <br />
                    <p style="color:gray">@comment.DateTimeCommentMade</p>
                    <hr style="width:100%;margin:0px 0px 10px 0px;padding:0px;" />
                }
            </div>
        </div>
    </div>
=======*@
	<div class="wrapper">
		<div class="post-wrapper">
			<div class="post-header">
				<h3 style="margin-left: 10px;">@Model.Title</h3>
                <span style="float: right; clear: both;">
                    @await Html.PartialAsync("_LoginUpvote")
                    <p style="float: right; clear: both;">@ViewBag.TotalScore</p>
                    @await Html.PartialAsync("_LoginDownvote", Model)
                </span>
			</div>
			<div class="post-content">
				<p>Användare: @ViewBag.PostAuthor</p>
				<p>Kategori: @Model.Category</p>
				<p>@Model.Content</p>
			</div>
			<div class="comment-form">
				@await Html.PartialAsync("_LoginComment")
			</div>
		</div>
		<div class="comment-wrapper">
			<div class="comments-header">
				<h3 style="margin-left: 10px;">Kommentarer</h3>
			</div>
			<div class="comments-content">
				@foreach (var comment in ViewBag.Comments)
				{
					<p style="color:green;">@comment.Author:</p>
					<p>@comment.Content</p>
					<br />
					<p style="color:gray">@comment.DateTimeCommentMade</p>
					<hr style="width:100%;margin:0px 0px 10px 0px;padding:0px;" />
				}
			</div>
		</div>
	</div>
</body>
</html>
