@model HackslashForum.Post

@{
    ViewData["Title"] = "Info om inlägg";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
</head>
<body>
    <div class="post-wrapper">
        <div class="post-header">
            <h3>@Model.Title</h3>
            <span style="float: right; clear: both;">
                    <img src="~/images/Upvote.png" width="20" height="20" />
            </span>

            <p style="float: right; clear: both;">@ViewBag.TotalScore</p>

            <span style="float: right; clear: both;">
                    <img src="~/images/Downvote.png" width="20" height="20" />
            </span>
        </div>


        <div class="post-content">
            <p>Author: @ViewBag.Author</p>
            <p>Category: @Model.Category</p>
            <p>@Model.Content</p>
        </div>
        <div class="comment-form">
            <form asp-action="Comment" asp-route-id="@Model.Id" asp-controller="Posts">
                <textarea name="content" style="min-width:360px;max-width:360px"></textarea>
                <br />
                <input type="submit" value="Comment" />
            </form>
        </div>

        <div class="comments-header">
            <h3>Comments</h3>
        </div>
        <div class="comments-content">
            @foreach (var comment in ViewBag.Comments)
            {
                <p>@comment.Content</p>
                <hr />
            }
        </div>
    </div>
</body>
</html>
