@model HackslashForum.Post

@using Microsoft.AspNetCore.Identity
@using HackslashForum.Models
@using HackslashForum.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context;

@{
    ViewData["Title"] = "Info om inlägg";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
</head>
<body>
    <div class="wrapper">
        <div class="post-wrapper">
            <div class="post-header">
                <h3 style="margin-left: 10px;">@Model.Title</h3>
                <span style="float: right; clear: both;">
                    @await Html.PartialAsync("_LoginUpvote")
                    <p style="float: right; clear: both;">@Model.TotalVotes</p>
                    @await Html.PartialAsync("_LoginDownvote", Model)
                </span>
            </div>
            <div class="post-content">
                <div>
                    <img class="ProfilePic" style="height: 70px; width: 70px;" src="@ViewBag.PostAuthorProfilePicture" />
                </div>
                <p>Användare: @ViewBag.PostAuthor</p>
                <p>Kategori: @Model.Category</p>
                <p>@Model.Content</p>
            </div>
            <div class="comment-form">
                @await Html.PartialAsync("_LoginComment")
            </div>
        </div>
        <div class="comment-wrapper">
            <div class="comments-header">
                <h3 style="margin-left: 10px;">Kommentarer</h3>
            </div>
            <div class="comments-content">
                @foreach (var comment in Model.Comments)
                {
                <div>
                    @{
                        var commentAuthor = _context.User.Where(p => p.Id == comment.UserId).Take(1).SingleOrDefault();
                        string base64 = Convert.ToBase64String(commentAuthor.ProfilePicture);
                        string imgSrc = String.Format("data:image/png;base64,{0}", base64);
                        var img = new IndexViewModel
                        {
                            ImgSrc = imgSrc,
                        };
                        <img class="ProfilePic" style="height: 70px; width: 70px;" src="@img.ImgSrc" />
                    }
                </div>
                    <p style="color:green;">@comment.Author:</p>
                    <p>@comment.Content</p>
                    <br />
                    <p style="color:gray">@comment.DateTimeCommentMade</p>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await SignInManager.UserManager.GetUserAsync(User);

                        var VotedComment = _context.VotedComments.Where(p => p.CommentId == comment.ID).Where(p => p.UserId == user.Id).Take(1).SingleOrDefault();

                        if (VotedComment != null && VotedComment.Vote == Vote.Up)
                        {
                            <form asp-action="UpvoteComment" asp-route-id="@comment.ID" asp-controller="Posts">
                                <span>
                                    <img src="~/images/Upvote.png" style="height: 20px; width: 20px; filter: brightness(100%);" />
                                </span>
                            </form>
                        }
                        else
                        {
                            <form asp-action="UpvoteComment" asp-route-id="@comment.ID" asp-controller="Posts">
                                <span>
                                    <input type="image" src="~/images/Upvote.png" alt="Submit" value="upvote" style="height: 20px; width: 20px; filter: brightness(50%);" />
                                </span>
                            </form>
                        }
                        <p>@comment.TotalVotes</p>
                        if (VotedComment != null && VotedComment.Vote == Vote.Down)
                        {
                            <form asp-action="DownvoteComment" asp-route-id="@comment.ID" asp-controller="Posts">
                                <span>
                                    <img src="~/images/Downvote.png" style="height: 20px; width: 20px; filter: brightness(100%);" />
                                </span>
                            </form>
                        }
                        else
                        {
                            <form asp-action="DownvoteComment" asp-route-id="@comment.ID" asp-controller="Posts">
                                <span>
                                    <input type="image" src="~/images/Downvote.png" alt="Submit" value="downvote" style="height: 20px; width: 20px; filter: brightness(50%);" />
                                </span>
                            </form>
                        }
                    }
                    <hr style="width:100%;margin:0px 0px 10px 0px;padding:0px;" />
                }
            </div>
        </div>
    </div>
</body>
</html>
