@model RoleViewModel
@{
    ViewData["Title"] = "RegisterRole";
}

<h2>Manage Authorization</h2>
<br />
@using (Html.BeginForm("RegisterRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Roles", "Select Role", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Roles, new SelectList(Model.Roles, "Name"))
        </div>
    </div>
    <div class="form-group">
        @Html.Label("ApplicationUsers", "Select User", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ApplicationUsers, new SelectList(Model.ApplicationUsers))
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register">
        </div>
    </div>
}

